.p-atoz_ivansection {
    clip-path: polygon(0 0, 100% 50px, 100% 100%, 0 calc(100% - 50px));
}

@media screen and (max-width: 767px) {
    clip-path: polygon(0 0, 100% 30px, 100% 100%, 0 100%);
}

.p-atoz_infosection {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0 100%);
}