/*
 * -------------------- \\
 * -------------------- //
 * Contents
 * -------------------- \\
 * -------------------- //

 * Colors
 * Webflow Resets
 * Standard HTML Elements
 * Insights: Single + Lists
 * YouTube Embeds 

 * -------------------- \\
 * -------------------- //
 * / Contents
 * -------------------- \\
 * -------------------- //

*/

/*
 * -------------------- \\
 * Colors
 * -------------------- //
*/

:root {
    --color--pink: #DE5783;
    --color--purple: #985EF4;
    --color--blue: #7FDDEF;
    --color--yellow: #F5F073;
    --color--orange: #EDB27D;
    --color--gradient: linear-gradient( var(--color--blue), var(--color--purple), var(--color--pink), var(--color--yellow) );
}

/*
 * -------------------- \\
 * / Colors
 * -------------------- //
*/

/*
 * -------------------- \\
 * Webflow Resets
 * -------------------- //
*/

.w-richtext figure {
    max-width: none;
    display: flex;
    justify-content: center;
}

.w-richtext figure img {
    width: auto;
}

/*
 * -------------------- \\
 * / Webflow Resets
 * -------------------- //
*/

/*
 * -------------------- \\
 * Standard HTML Elements
 * -------------------- //
*/

/* Nested lists */
ul ul,
ol ol {
    margin-bottom: 0;
}

/* Nested list: First item */
ul li + ul li:first-of-type,
ol li + ol li:first-of-type{
    margin-top: 0;
}

/* Code */
code {
    color: var(--color--pink);
}

/* Figures */
figure {
    margin: 30px auto;
}

/* Horizontal rules */
hr {
    border: none;
    border-top: 1px solid #DDD;
    margin: 20px auto;
}

/*
 * -------------------- \\
 * / Standard HTML Elements
 * -------------------- //
*/

/*
 * -------------------- \\
 * Insights: Single + Lists
 * -------------------- //
*/

.topicDivider {
    font-size: 13px;
    padding-top: .5px;
    font-style: italic;
    margin: 0 7px 0 5px;
}

/*
 * ----------------------------- \\
 * / Insights: Single + Lists
 * ----------------------------- //
*/

/*
 * -------------------- \\
 * YouTube Embeds
 * -------------------- //
*/

figure.youTubeContainer {
    height: 0;
    padding-top: calc( 9 / 16 * 100% );
}

figure.youTubeContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (min-width: 768px) {

    figure.youTubeContainer {
        margin: 50px auto;
    }
    
}

/*
 * -------------------- \\
 * / YouTube Embeds
 * -------------------- //
*/