/*
 * -------------------- \\
 * -------------------- //
 * Contents
 * -------------------- \\
 * -------------------- //

 * Colors
 * Webflow Resets
 * HTML Elements

 * -------------------- \\
 * -------------------- //
 * / Contents
 * -------------------- \\
 * -------------------- //

*/

/*
 * -------------------- \\
 * Colors
 * -------------------- //
*/

:root {
    --color--pink: #DE5783;
    --color--purple: #985EF4;
    --color--blue: #7FDDEF;
    --color--yellow: #F5F073;
    --color--orange: #EDB27D;
    --color--gradient: linear-gradient( var(--color--blue), var(--color--purple), var(--color--pink), var(--color--yellow) );
}

/*
 * -------------------- \\
 * / Colors
 * -------------------- //
*/

/*
 * -------------------- \\
 * Webflow Resets
 * -------------------- //
*/

.w-richtext figure {
    max-width: none;
}

/*
 * -------------------- \\
 * / Webflow Resets
 * -------------------- //
*/

/*
 * -------------------- \\
 * HTML Elements
 * -------------------- //
*/

/* Nested lists */
ul ul,
ol ol {
    margin-bottom: 0;
}

/* Nested list: First item */
ul li + ul li:first-of-type,
ol li + ol li:first-of-type{
    margin-top: 0;
}

/* Code */
code {
    color: var(--color--pink);
}

/* Figures */
figure {
    margin: 30px auto;
}

/* Horizontal rules */
hr {
    border: none;
    border-top: 1px solid #DDD;
    margin: 20px auto;
}

/*
 * -------------------- \\
 * / HTML Elements
 * -------------------- //
*/