/*
 * ----------------------------- \\
 * TOC
 * ----------------------------- //
*/

.nVIP__TOC {
    padding-left: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid #eee;
    font-size: .95em;
}

.nVIP__TOC,
.nVIP__TOC ul {
    list-style-type: none;
}

.nVIP__TOC li {
    margin: 7px 0 2px;
    padding-left: 14px;
    border-left-width: 1px;
    border-left-style: solid;
    border-color: rgba(0,0,0,.1);
    opacity: .7;
    transition: all .3s;
}

.nVIP__TOC li:hover {
    opacity: 1;
    border-color: var(--color--purple);
}

.nVIP__TOC li a {
    border: none;
    color: var(--color--pink);
}


/*
 * ----------------------------- \\
 * / TOC
 * ----------------------------- //
*/

/*
 * ----------------------------- \\
 * Legacy approach to YouTube (<iframe> without <figure>)
 * ----------------------------- //
*/

.section.is--textcontent > .w-richtext > iframe {
    display: block;
    aspect-ratio: 16 / 9;
    margin: 50px auto;
}

/*
 * ----------------------------- \\
 * / Legacy approach to YouTube (<iframe> without <figure>)
 * ----------------------------- //
*/