

/*
 * -------------------- \\
 * Padding Resets
 * -------------------- //
*/

.typedream.content.slate-root {
	padding: 30px;
}

.typedream.content.slate-root .slate-h1,
.typedream.content.slate-root .slate-p {
    padding: 0;
}

/*
 * -------------------- \\
 * Tyography
 * -------------------- //
*/

.typedream.content.slate-root {
	font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, 
.typedream.content.slate-root h1.slate-h1 {
    font-size: 2.5em;
    line-height: 104%;
    margin-bottom: 20px;
}

@media screen and (min-width: 400px) {

	h1, 
	.typedream.content.slate-root h1.slate-h1 {
		font-size: 5.5em;
	}

}